/* dice */
.dice {
    border: 2px solid wheat;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    right: 13px;
    top: 9px;
    background-color: rgba(5, 239, 126, 0.8);
    height: 16px;
    width: 16px;
    border-radius: 50%;
    z-index: 9;
  }

  #dice {
    background-color: green;
    color: white;
    border: 1px solid #37f298;
    padding: 4px;
    cursor: pointer;
    font-size: 18px;
    margin: 3px 0px;
  }

.dice-inner-box{
  margin-top: -20px;
}

.dice-rolling{
  font-size: 52px;
}


  .dice_1::after {
    content: "";
    content: "\2680";
  }
  .dice_2::after {
    content: "";
    content: "\2681";
  }
  .dice_3::after {
    content: "";
    content: "\2682";
  }
  .dice_4::after {
    content: "";
    content: "\2683";
  }
  .dice_5::after {
    content: "";
    content: "\2684";
  }
  .dice_6::after {
    content: "";
    content: "\2685";
  }